menu "Custom Configuration"

    config PULSE_PERIPHERAL
        bool "Pulse counter peripheral available"
        default "n"
        help
            When this is not enable the task that counts pulse will be unavailable
   
   
    config SLAVE_MODBUS
        bool "Slave Modbus active"
        default "n"
        help
            This functions provides a slave Modbus RTU functionality through RS485
   
    config MASTER_MODBUS
        bool "Master Modbus active"
        default "n"
        help
            This functions provides a master Modbus RTU functionality through RS485
   
    config LORA
        bool "LoRa connected"
        default "n"
        help
            This functions provides serial communication to a LoRa
    
    config ID
        int "node identifier"
        range 1 255
        default 255
        help
            unique network identifier

    config SLAVES
        int "Number of slaves"
        range 0 255
        default 0
        help
            number of slaves to poll

endmenu
